<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Currency Converter</title>
</head>
<body>
    <div class="whole-currency-converter">
        <h2 id="currency-header">CURRENCY CONVERTER</h2>
        <img src="{{ url_for('static', filename='css/converter.jpg') }}" id="image">
        <form action="/" method="post">
            <div class="form">
                <label for="amount" class="amount-header">Amount: </label>
                <input type="number" inputmode="decimal" id="amount" name="amount" value="100" placeholder="Enter Amount" required>
                <div class="currency-select">
                    <select name="from_currency" required>
                        <option value="USD">USD - US Dollar</option>
                        <option value="EUR">EUR - Euro</option>
                        <option value="GBP">GBP</option>
                        <option value="RUB">RUB</option>
                        <option value="JPY">JPY</option>
                        <option value="KZT">KZT</option>
                        <option value="AUD">AUD</option>
                    </select>
                    <select name="to_currency" required>
                        <option value="EUR">EUR - Euro</option>
                        <option value="USD">USD - US Dollar</option>
                        <option value="GBP">GBP</option>
                        <option value="RUB">RUB</option>
                        <option value="JPY">JPY</option>
                        <option value="KZT">KZT</option>
                        <option value="AUD">AUD</option>                
                    </select>
                </div>
            <div>
                <button id="convert-button">Convert</button>
            </div>
            </div>
            <div class="result">
                <output name="result" for="amount"> {{ result }} </output>
            </div>
        </form>
    </div>

</body>
</html>
